<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="CreateLead">
  <parameter name="name" value="sagar"></parameter>
  <parameter name="email" value="sagar123@gmail.com"></parameter>
  <parameter name="phone" value="9987645294"></parameter>
  
  <parameter name="name" value="deepak"></parameter>
  <parameter name="email" value="deepak123@gmail.com"></parameter>
  <parameter name="phone" value="9973647367"></parameter>
  
  <parameter name="courseList" value="Option2"></parameter>
  <parameter name="warmStage" value="VisibleText"></parameter>
  <parameter name="techStack" value="VisibleText"></parameter>
  <parameter name="leadSource" value="Option2"></parameter>
  <classes>
  <class name="Parameter.UpdateLeadwithParameter"></class>
  </classes>
  </test> <!-- CreateLead -->
</suite> <!-- Suite -->